<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<properties>
        <Property name="console-pattern">%d{yyyy-MM-dd HH:mm:ss} [%t] [%level] %logger{36} - %msg%n</Property>
        <Property name="error-file">iot_sim_sign_web_api.log</Property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${console-pattern}" />
        </Console>
        
        <RollingFile name="RollingFile" fileName="${error-file}" filePattern="${error-file}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${console-pattern}" />
			<Policies>
				<!-- 归档每天的文件 
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				-->
				<!-- 限制单个文件大小 -->
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<!-- 限制每天文件个数 -->
			<DefaultRolloverStrategy compressionLevel="0" max="10"/>
		</RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile" />
        </Root>
        <Logger name="com.iotdiandian.signapi" additivity="false">
            <AppenderRef ref="RollingFile" />
            <!-- <AppenderRef ref="Console" />  -->
        </Logger>
    </Loggers>
</Configuration>
